//--- Color

$red: #f44336;
$white: #ffffff;
$yellow: #ffd392;
$blue: #c1e3f6;
$light-green: #99dc56;
$text: #614c4c;
$text-disabled: #614c4c;
$gray: #96999c;
$gray-hover-table-cell: #f5f5f5;
$gray-border-autocomplete: #ababab;
$gray-highlight-row: #d8d8d8;
$gray-disabled-textfield: #e7e7e7;
$table-header-background: #e4e4e4;
$button-danger: #d80c11;
$button-success: #69be28;
$button-green: #139c49;
$green: #d6f0e0;
$button-info: #50abc8;
$button-primary: #386bc0;
$button-light: #f8f9fa;
$table-row-odd: #f8f8f8;
$table-row-even: #ffffff;
$select-label-green: #d8e8d5;
$filter-icon: #3C8A2E;

$primary: #23c115;
$background: #ffffff;
$secondary: #85ef90;
$primary500: #557002;

$secondary: #bffc05;
$secondary200: #b6f006;
$secondary300: #a2d604;
$secondary400: #85b004;
$secondary500: #557002;

$warning: #e03f07;

$text: #39394A;
$text-button: #96999c;
$text-100: #4a484f;
$text-200: #222127;

$shade: #bbbbbb;
$error: #d32f2f;
//--- Font weight
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$dark-green: #007d4c;
$dark-green-new: #008751;
$light-green-1: rgba(14, 125, 76, 0.1);

$gray-1: #f8f9fa;
$gray-2: #cccccc;
$gray-3: #eeeeee;
$gray-4: #cccbcb;

$light-gray: #9e9e9e;
$light-red: #de544f;
$orange: #f68932;

$backgroundSideBar: #2e2e2e;
$backgroundActiveSideBar: #bf1e2e;
$backgroundHoverSideBar: #202020;
$colorSideBar: #ffffff;
$backgroundHeaderTitle: #e4e4e4;
$bgHeader: #F9E6D4;
